version: '3.8'

services:
  zabbix-mysql:
    image: mysql:8.0
    container_name: zabbix-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbix
      MYSQL_DATABASE: zabbix
    volumes:
      - zbx_mysql:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_bin
      - --default-authentication-plugin=mysql_native_password

  zabbix-server:
    image: zabbix/zabbix-server-mysql:alpine-latest
    container_name: zabbix-server
    restart: always
    ports:
      - "10051:10051"
    environment:
      DB_SERVER_HOST: zabbix-mysql
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbix
      MYSQL_DATABASE: zabbix
    depends_on:
      - zabbix-mysql

  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-latest
    container_name: zabbix-agent
    restart: always
    privileged: true
    pid: "host"
    network_mode: "host"
    environment:
      ZBX_HOSTNAME: "DevOps-Host"
      ZBX_SERVER_HOST: "127.0.0.1"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
       - grafana_data:/var/lib/grafana
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tododb
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432" # Opcional, para acessar via DBeaver/PgAdmin

  backend:
    build: ./backend
    ports:
      - "3001:3000"
    environment:
      - DB_HOST=db
    depends_on:
      - db
    # Reinicia se o banco demorar a subir
    restart: on-failure 

  frontend:
    build: ./frontend
    ports:
      - "8080:80"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  zbx_mysql:
  grafana_data: